{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
        "import",
        {
            "libraryName": "@horadrim/components",
            "libraryDirectory": "es",
            "style": true // 按需引入 Less 样式
        },
        "@horadrim/components"
    ]
]
}